.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about h1 {
  color: var(--light-green);
  background-color: var(--green);
  padding: 0.5em 1em;
}
