@import "tailwindcss";

/* ---------- Root Variables ---------- */
:root {
  --background: #f7f7f4;
  --cards: #f1f1f0;
  --cta-button: #ffc09f;
  --cta-link: #fcf5c7;
  --buttons: #272626;
  --text: #5a5454;
}

/* ---------- Global Styling ---------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  background-color: var(--background);
  color: var(--text);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* ---------- Typography ---------- */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--text);
}

/* ---------- Link Styling ---------- */
a {
  color: var(--green);
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: var(--dark-green);
}
